<header>
    <div class="wrap">
        <img src="../../assets/img/Insta.png">
        <input type="text" placeholder="Search">
        <div class="navigation">
            <img src="../../assets/img/home-7-32.png">
            <img src="../../assets/img/send.png">
            <img src="../../assets/img/plus-5-32.png">
            <img src="../../assets/img/compass-3-32.png">
            <img src="../../assets/img/favorite-3-32.png">
            <img src="../../assets/img/profilepicture.png">
        </div>
    </div>
</header>