.mainpage {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

.mainpage-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1.5rem;
}

.sidebar {
    display: flex;
}

.sidebar-app {
    height: 100vh;
    position: sticky;
    top: 10.5vh;
}