<div class="mainpage-sidebar hide-mobile">
    <div class="my-profile">
        <img class="my-profile-img" src="../../assets/img/profilepicture.png" alt="">
        <div class="my-profile-names">
            <span class="my-profile-name">FabianE.</span>
            <span class="my-profile-username">Fabi</span>
        </div>
        <span class="my-profile-switch">Wechseln</span>
    </div>

    <div class="suggestions">
        <div class="suggestions-foryou">
            <span class="suggestions-foryouspan">Vorschläge für dich</span>
            <span class="suggestions-fewall">Alle Ansehen</span>
        </div>

        <div class="suggestions-profiles" id="suggestions-profiles">
            <div class="suggestions-profiles" id="suggestions-profiles">
                <div class="suggestions-my-profile" id="suggestions-my-profile">
                    <img class="suggestions-my-profile-img" src="../../assets/img/profiles/profile9.png" alt="">
                    <div class="suggestions-my-profile-names">
                        <span class="suggestions-my-profile-name">Wolfland</span>
                        <span class="suggestions-my-profile-username">LionKing is Follower</span>
                    </div>
                    <span class="suggestions-my-profile-switch">Folgen</span>
                </div>

                <div class="suggestions-my-profile" id="suggestions-my-profile">
                    <img class="suggestions-my-profile-img" src="../../assets/img/profiles/profile10.png" alt="">
                    <div class="suggestions-my-profile-names">
                        <span class="suggestions-my-profile-name">Dreamers</span>
                        <span class="suggestions-my-profile-username">SweetMemories is Follower</span>
                    </div>
                    <span class="suggestions-my-profile-switch">Folgen</span>
                </div>

                <div class="suggestions-my-profile" id="suggestions-my-profile">
                    <img class="suggestions-my-profile-img" src="../../assets/img/profiles/profile11.png" alt="">
                    <div class="suggestions-my-profile-names">
                        <span class="suggestions-my-profile-name">ItsCheesy</span>
                        <span class="suggestions-my-profile-username">Vorschläge für dich</span>
                    </div>
                    <span class="suggestions-my-profile-switch">Folgen</span>
                </div>

                <div class="suggestions-my-profile" id="suggestions-my-profile">
                    <img class="suggestions-my-profile-img" src="../../assets/img/profiles/profile12.png" alt="">
                    <div class="suggestions-my-profile-names">
                        <span class="suggestions-my-profile-name">private_place</span>
                        <span class="suggestions-my-profile-username">Vorschläge für dich</span>
                    </div>
                    <span class="suggestions-my-profile-switch">Folgen</span>
                </div>
            </div>
        </div>

        <div class="links">
            <a href="#">Info •</a>
            <a href="#">Hilfe •</a>
            <a href="#">Presse •</a>
            <a href="#">API •</a>
            <a href="#">Jobs •</a>
            <a href="#">Datenrichtlinie •</a> <br>
            <a href="#">Impressum/Nutzungsbedingungen<br>NetzDG/UrhDaG •</a>
            <a href="#">Standorte •</a> <br>
            <a href="#">Top-Konten •</a>
            <a href="#">Hashtags •</a>
            <a href="#">Sprache</a>
        </div>

        <div class="copyright">
            <span>© 2022 INSTAGRAM FROM FabianE.</span>
        </div>

    </div>
</div>