<div class="posts-container" id="posts-container">
    <div class="one-post-style">
        <div class="post-head">
            <div class="post-head-author">
                <img src="../../assets/img/profiles/profile1.png">
                <span>DogDiary</span>
            </div>
            <img class="post-head-more" src="../../assets/img/more.png" alt="">
        </div>

        <div class="post-img">
            <img class="post-image" src="../../assets/img/posts/1.1.png" alt="">
        </div>

        <div class="post-bottom">
            <div class="post-bottom-Icons">
                <div>
                    <img src="../../assets/img/favorite-3-32.png" alt="">
                    <img src="../../assets/img/comment.png" alt="">
                    <img src="../../assets/img/send.png" alt="">
                </div>
                <img src="../../assets/img/archive.png" alt="">
            </div>
            <div class="likes">
                <img src="../../assets/img/profiles/profile2.png" alt="">
                <span>Gefällt <b>AudiClub</b> und <b>225</b></span>
            </div>
            <div class="comment-container">
                <div class="comment">
                    <span class="comment-text"> <b>DogDiary</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod maxime, fugiat dolor aspernatur, sunt iusto nobis saepe perferendis eos nemo mollitia nulla, incidunt distinctio qui doloremque numquam neque nisi tenetur?</span>
                </div>
                <span class="comment-more">mehr</span> <br>
                <div class="coment-allcomments-div">
                    <span class="comment-allcomments">Alle Kommentare anzeigen</span>
                </div>
            </div>
            <div class="comments" id="comments">

            </div>
            <div class="timestamp">
                <span class="timestamp-time">VOR 16 STUNDEN</span>
            </div>
        </div>

        <div class="Comment-section">
            <img src="../../assets/img/emoticon-30-32.png" alt="">
            <input id="comment-input0" type="text" placeholder="Kommentieren...">
            <button onclick="addComment(0)">Posten</button>
        </div>
    </div>


    <div class="one-post-style">
        <div class="post-head">
            <div class="post-head-author">
                <img src="../../assets/img/profiles/profile1.png">
                <span>DogDiary</span>
            </div>
            <img class="post-head-more" src="../../assets/img/more.png" alt="">
        </div>

        <div class="post-img">
            <img class="post-image" src="../../assets/img/posts/1.1.png" alt="">
        </div>

        <div class="post-bottom">
            <div class="post-bottom-Icons">
                <div>
                    <img src="../../assets/img/favorite-3-32.png" alt="">
                    <img src="../../assets/img/comment.png" alt="">
                    <img src="../../assets/img/send.png" alt="">
                </div>
                <img src="../../assets/img/archive.png" alt="">
            </div>
            <div class="likes">
                <img src="../../assets/img/profiles/profile2.png" alt="">
                <span>Gefällt <b>AudiClub</b> und <b>225</b></span>
            </div>
            <div class="comment-container">
                <div class="comment">
                    <span class="comment-text"> <b>DogDiary</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod maxime, fugiat dolor aspernatur, sunt iusto nobis saepe perferendis eos nemo mollitia nulla, incidunt distinctio qui doloremque numquam neque nisi tenetur?</span>
                </div>
                <span class="comment-more">mehr</span> <br>
                <div class="coment-allcomments-div">
                    <span class="comment-allcomments">Alle Kommentare anzeigen</span>
                </div>
            </div>
            <div class="comments" id="comments">

            </div>
            <div class="timestamp">
                <span class="timestamp-time">VOR 16 STUNDEN</span>
            </div>
        </div>

        <div class="Comment-section">
            <img src="../../assets/img/emoticon-30-32.png" alt="">
            <input id="comment-input0" type="text" placeholder="Kommentieren...">
            <button onclick="addComment(0)">Posten</button>
        </div>
    </div>


</div>