<div class="story-container" id="story-container">
    <div class="story">
        <img src="../../assets/img/profiles/profile1.png">
        <span> DogDiary </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile2.png">
        <span> AudiClub </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile3.png">
        <span> JustSam </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile4.png">
        <span> F.Hyst </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile5.png">
        <span> JustADog </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile6.png">
        <span> BMWMotors </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile7.png">
        <span> LionKing </span>
    </div>
    <div class="story">
        <img src="../../assets/img/profiles/profile8.png">
        <span> SweetMemories </span>
    </div>
</div>